---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","category":"Original
        Category","subject":"Original Subject","body_text":"Original Text","body_html":"<div>Original
        HTML</div>"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
      Etag:
      - W/"d3dafaf05cc894cdab177454a66fb801"
      X-Cloud-Trace-Context:
      - 43a14408974a44a585b712ef083ef484;o=0
    body:
      encoding: UTF-8
      string: '{"id":39717,"uuid":"56b651f9-feaa-4012-8e36-e818d3aa5d86","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-17T09:28:10.637Z","updated_at":"2025-06-17T09:28:10.637Z"}'
  recorded_at: Tue, 17 Jun 2025 09:28:10 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/39717
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","category":"Updated Category","subject":"Updated
        Subject"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '146'
      Etag:
      - W/"676071b44cc3077f3c4246ef8851eaba"
      X-Cloud-Trace-Context:
      - bd2731eb70da4de78838d8cbe456f519;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":39717,"uuid":"56b651f9-feaa-4012-8e36-e818d3aa5d86","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-17T09:28:10.637Z","updated_at":"2025-06-17T09:28:10.871Z"}'
  recorded_at: Tue, 17 Jun 2025 09:28:10 GMT
recorded_with: VCR 6.2.0
