---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer 793a32549bc04f67fcd4f800009781f2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '135'
      Etag:
      - W/"2261e04c6092b059bebfae6e15071519"
      X-Cloud-Trace-Context:
      - '05970b2f11c24586c896dc2c75b70f52;o=0'
    body:
      encoding: UTF-8
      string: '{"id":39583,"uuid":"2fe116d3-477c-4991-8127-9359ef4cff90","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-16T12:41:04.444Z","updated_at":"2025-06-16T12:41:04.444Z"}'
  recorded_at: Mon, 16 Jun 2025 12:41:04 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/39583
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category"}}'
    headers:
      Authorization:
      - Bearer 793a32549bc04f67fcd4f800009781f2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '134'
      Etag:
      - W/"ac3298f1aa4840e1384b6736dc4a6285"
      X-Cloud-Trace-Context:
      - b86b7f7649794e3480346d0a89249fcf;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":39583,"uuid":"2fe116d3-477c-4991-8127-9359ef4cff90","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-16T12:41:04.444Z","updated_at":"2025-06-16T12:41:04.713Z"}'
  recorded_at: Mon, 16 Jun 2025 12:41:04 GMT
recorded_with: VCR 6.2.0
