---
http_interactions:
- request:
    method: post
    uri: https://sandbox.api.mailtrap.io/api/batch/3861666
    body:
      encoding: UTF-8
      string: '{"base":{"from":{"email":"mailtrap@demomailtrap.co","name":"Mailtrap"},"subject":"Batch
        Subject","text":"Batch Text","attachments":[],"headers":{},"custom_variables":{}},"requests":[{"to":[{"email":"to@mail.com","name":"recipient1"}],"cc":[],"bcc":[],"attachments":[],"headers":{},"custom_variables":{}},{"to":[{"email":"to@mail.com","name":"recipient2"}],"cc":[],"bcc":[],"attachments":[],"headers":{},"custom_variables":{}}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"responses":[{"success":true,"message_ids":["4967738534"]},{"success":true,"message_ids":["4967738533"]}]}'
  recorded_at: Wed, 02 Jul 2025 07:54:12 GMT
recorded_with: VCR 6.2.0
