---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.mailtrap.io/api/batch
    body:
      encoding: UTF-8
      string: '{"base":{"from":{"email":"mailtrap@demomailtrap.co","name":"Mailtrap"},"subject":"Batch
        Subject","text":"Batch Text","headers":{},"custom_variables":{}},"requests":[{"to":[{"email":"demo@gmail.com","name":"recipient1"}],"cc":[],"bcc":[],"attachments":[],"headers":{},"custom_variables":{}},{"to":[{"email":"demo@gmail.com","name":"recipient2"}],"cc":[],"bcc":[],"attachments":[],"headers":{},"custom_variables":{}}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"responses":[{"success":true,"message_ids":["e6a26ea0-4b7f-11f0-0000-f185d7639148"]},{"success":true,"message_ids":["e6a26ea0-4b7f-11f0-0001-f185d7639148"]}]}'
  recorded_at: Tue, 17 Jun 2025 13:35:15 GMT
recorded_with: VCR 6.2.0
