---
http_interactions:
- request:
    method: post
    uri: https://send.api.mailtrap.io/api/send
    body:
      encoding: UTF-8
      string: '{"to":[{"email":"mailtrap@railsware.com"}],"from":{"email":"mailtrap@mailtrap.io","name":"Mailtrap
        Test"},"cc":[],"bcc":[],"subject":"You are awesome!","text":"Congrats for
        sending test email with Mailtrap!","attachments":[{"content":"aGVsbG8gd29ybGQ=","filename":"attachment.txt"}],"headers":{},"category":"Integration
        Test","custom_variables":{}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message_ids":["4c2446b6-e0f9-11ec-9487-0a58a9feac02"]}'
  recorded_at: Tue, 31 May 2022 15:49:47 GMT
recorded_with: VCR 6.1.0
