---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Template to Delete","subject":"Delete Subject","category":"Delete
        Category","body_html":"<div>Delete HTML</div>","body_text":"Delete Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
      Etag:
      - W/"3c3fb19d57caf17b4bd895cdfbf87afd"
      X-Cloud-Trace-Context:
      - f3a653c31b7b441dc745aa4903a53229;o=0
    body:
      encoding: UTF-8
      string: '{"id":40200,"uuid":"7e7c7632-fba4-428d-bef7-622fc37cfd00","name":"Template
        to Delete","category":"Delete Category","subject":"Delete Subject","body_html":"<div>Delete
        HTML</div>","body_text":"Delete Text","created_at":"2025-06-20T11:37:30.705Z","updated_at":"2025-06-20T11:37:30.705Z"}'
  recorded_at: Fri, 20 Jun 2025 11:37:30 GMT
- request:
    method: delete
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '146'
      X-Cloud-Trace-Context:
      - 4040f84c8ff04d8b8f0ce7ecd2b70a6a;o=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 20 Jun 2025 11:37:31 GMT
recorded_with: VCR 6.2.0
