---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Template to Delete","subject":"Delete Subject","category":"Delete
        Category","body_html":"<div>Delete HTML</div>","body_text":"Delete Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '142'
      Etag:
      - W/"7e0045b60f955b30e1e676c8675e2d40"
      X-Cloud-Trace-Context:
      - 0b57d85af76f485fc2a5a94994df0047;o=0
    body:
      encoding: UTF-8
      string: '{"id":40249,"uuid":"7da5882e-21aa-424b-a71c-ff2b4be0ec57","name":"Template
        to Delete","category":"Delete Category","subject":"Delete Subject","body_html":"<div>Delete
        HTML</div>","body_text":"Delete Text","created_at":"2025-06-20T16:03:11.905Z","updated_at":"2025-06-20T16:03:11.905Z"}'
  recorded_at: Fri, 20 Jun 2025 16:03:11 GMT
- request:
    method: delete
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40249
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '141'
      X-Cloud-Trace-Context:
      - a6d1c443624e4cb280fa94b26726a9b5;o=0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 20 Jun 2025 16:03:12 GMT
recorded_with: VCR 6.2.0
