---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '134'
      Etag:
      - W/"76241c8410b96b03e81dcc88133fef3e"
      X-Cloud-Trace-Context:
      - 81b4b97bda4440be8c4389828aaa4b6c;o=0
    body:
      encoding: UTF-8
      string: '{"id":40245,"uuid":"e7d0d3b1-f584-4c20-afa8-07b44b71a01c","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-20T16:03:09.934Z","updated_at":"2025-06-20T16:03:09.934Z"}'
  recorded_at: Fri, 20 Jun 2025 16:03:10 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40245
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category","body_html":"<div>Updated HTML</div>","body_text":"Updated Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"2364997d263a2b63a6e76f4620612272"
      X-Cloud-Trace-Context:
      - 8d7dd9ddb66e45fa8878e092e2af843a;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":40245,"uuid":"e7d0d3b1-f584-4c20-afa8-07b44b71a01c","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Updated
        HTML</div>","body_text":"Updated Text","created_at":"2025-06-20T16:03:09.934Z","updated_at":"2025-06-20T16:03:10.195Z"}'
  recorded_at: Fri, 20 Jun 2025 16:03:10 GMT
recorded_with: VCR 6.2.0
