---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '146'
      Etag:
      - W/"20d892e1c7247892f76ed2dd8ec42979"
      X-Cloud-Trace-Context:
      - 57b6b4ab5452417c89fca5481d46209b;o=0
    body:
      encoding: UTF-8
      string: '{"id":40400,"uuid":"e8705b97-5139-4e7d-8b4a-7cb5a1fbdb57","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:35:51.035Z","updated_at":"2025-06-23T06:35:51.035Z"}'
  recorded_at: Mon, 23 Jun 2025 06:35:51 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40400
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category","body_html":"<div>Updated HTML</div>","body_text":"Updated Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '145'
      Etag:
      - W/"9f8d1a654fd662773f5265d9ca11dc81"
      X-Cloud-Trace-Context:
      - 3fc50b502bc14f1d8ce835ac522a0bb4;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":40400,"uuid":"e8705b97-5139-4e7d-8b4a-7cb5a1fbdb57","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Updated
        HTML</div>","body_text":"Updated Text","created_at":"2025-06-23T06:35:51.035Z","updated_at":"2025-06-23T06:35:51.259Z"}'
  recorded_at: Mon, 23 Jun 2025 06:35:51 GMT
recorded_with: VCR 6.2.0
