---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '140'
      Etag:
      - W/"9565089f940396d42fcb778c5add3cd9"
      X-Cloud-Trace-Context:
      - 8434511ee0f242eb8887e07440fcba99;o=0
    body:
      encoding: UTF-8
      string: '{"id":40432,"uuid":"57a63f00-50a1-4343-ae67-4c531e9613d2","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:52.422Z","updated_at":"2025-06-23T06:54:52.422Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:52 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40432
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category","body_html":"<div>Updated HTML</div>","body_text":"Updated Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '139'
      Etag:
      - W/"bf58cf77fc77e064fcf86ab463a0c780"
      X-Cloud-Trace-Context:
      - 476fdb3b155e4b338b16a1b962793126;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":40432,"uuid":"57a63f00-50a1-4343-ae67-4c531e9613d2","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Updated
        HTML</div>","body_text":"Updated Text","created_at":"2025-06-23T06:54:52.422Z","updated_at":"2025-06-23T06:54:52.640Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:52 GMT
recorded_with: VCR 6.2.0
