---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '134'
      Etag:
      - W/"9909f4ce9406b01b8d5601c9d4c54c28"
      X-Cloud-Trace-Context:
      - 42703ad79e0f4bff81f56371bd7b7911;o=0
    body:
      encoding: UTF-8
      string: '{"id":40196,"uuid":"4e6c72d6-ce71-4c3f-960a-3f519d4abc3f","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-20T11:37:28.696Z","updated_at":"2025-06-20T11:37:28.696Z"}'
  recorded_at: Fri, 20 Jun 2025 11:37:28 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40196
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category","body_html":"<div>Updated HTML</div>","body_text":"Updated Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '133'
      Etag:
      - W/"2bbe90ece3762da7c6200a9f32af12f9"
      X-Cloud-Trace-Context:
      - 324b3e0283924eb6c7b55583c116d7f0;o=3
    body:
      encoding: ASCII-8BIT
      string: '{"id":40196,"uuid":"4e6c72d6-ce71-4c3f-960a-3f519d4abc3f","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Updated
        HTML</div>","body_text":"Updated Text","created_at":"2025-06-20T11:37:28.696Z","updated_at":"2025-06-20T11:37:28.939Z"}'
  recorded_at: Fri, 20 Jun 2025 11:37:29 GMT
recorded_with: VCR 6.2.0
