---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Project to Delete"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '137'
      Etag:
      - W/"d9a6083f2969fac4e80866298c9e6d1b"
      X-Cloud-Trace-Context:
      - 653171b903e74d9d8597cb9164fde76d;o=0
    body:
      encoding: UTF-8
      string: '{"id":2487018,"name":"Project to Delete","share_links":{"admin":"https://mailtrap.io/projects/2487018/share/REDACTED","viewer":"https://mailtrap.io/projects/2487018/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Wed, 20 Aug 2025 19:39:55 GMT
- request:
    method: delete
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/projects/2487018
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '136'
      Etag:
      - W/"1ede35eff9636e8b3e9170fade135d16"
      X-Cloud-Trace-Context:
      - d41511de1f714b65c01f6bed4a53da2c;o=0
    body:
      encoding: UTF-8
      string: '{"id":2487018}'
  recorded_at: Wed, 20 Aug 2025 19:39:56 GMT
recorded_with: VCR 6.2.0
