---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1495731/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Project to Delete"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '134'
      Etag:
      - W/"ecddddb96fdfae7d1d65f97008740290"
      X-Cloud-Trace-Context:
      - 268360cf218544c78743416e188a423b;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":2486782,"name":"Project to Delete","share_links":{"admin":"https://mailtrap.io/projects/2486782/share/QEVuQwEASe_GQWQySM3m_SyAX3RYjPCzri4TYuX7RZPZimn7ifAyKF-iIMJLWWcqz7RLWKO_-Svi3EyU7OoBuyASfWv4e3A4pwSB97RE_WG2yqlx4YAmhczwGSXhmpefAMK1kWto","viewer":"https://mailtrap.io/projects/2486782/share/QEVuQwEASe_GQWQySM3m_SyAX3RYjPCzri4TYuX7RZPZimn7ifAyKF-iIMJLWWcqz7RLWKO_-W38x7ItqdGOIfU0g7JlZ0BJBnroXH9KzilqpZrrBJYULZSv7-U12eC0eu5-Da8t"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Wed, 20 Aug 2025 17:52:19 GMT
- request:
    method: delete
    uri: https://mailtrap.io/api/accounts/1495731/projects/2486782
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"728068d9fb12156e24f8fffdb529c806"
      X-Cloud-Trace-Context:
      - 5667902556af48188157292d91de7501;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":2486782}'
  recorded_at: Wed, 20 Aug 2025 17:52:20 GMT
recorded_with: VCR 6.2.0
