---
http_interactions:
- request:
    method: post
    uri: https://send.api.mailtrap.io/api/send
    body:
      encoding: UTF-8
      string: '{"to":[{"email":"mailtrap@railsware.com"}],"from":{"email":"mailtrap@mailtrap.io","name":"Mailtrap
        Test"},"cc":[],"bcc":[],"attachments":[{"content":"aGVsbG8gd29ybGQ=","filename":"attachment.txt"}],"headers":{},"custom_variables":{},"template_uuid":"aeb1ec59-2737-4a1d-9c95-0baf3be49d74","template_variables":{"user_name":"John
        Doe"}}'
    headers:
      Authorization:
      - Bearer 35b8966defc381123b3206f19b49df50
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message_ids":["617103b5-7b2c-11ed-b344-0242ac1c0107"]}'
  recorded_at: Tue, 13 Dec 2022 21:23:26 GMT
recorded_with: VCR 6.1.0
