---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1495731/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"396b316a3b2ce45cf923792ff137f589"
      X-Cloud-Trace-Context:
      - 8d6b0b69acce4313c117af6417b3bf81;o=0
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1536451,"name":"My Project","share_links":{"admin":"https://mailtrap.io/projects/1536451/share/QEVuQwEAXkaIEgYGRhbxZlL_Zlj4XbZ2q0UoeCPFvlCD61-OrqnMthiqlfaL0x0N7QIRp5TiHMYLm_MpViSyQFZFeEuyZuHZruNrIBH9Odsg7_Q7ANUKR2Qpx-Mg1-hzRUt2szJJ","viewer":"https://mailtrap.io/projects/1536451/share/QEVuQwEAXkaIEgYGRhbxZlL_Zlj4XbZ2q0UoeCPFvlCD61-OrqnMthiqlfaL0x0N7QIRp5TiiZbkjzzscM8iCQmFuTNoHGS_maKQbgS3RqAohpHMkVyhHTbRQEdzubO_YzehJi_O"},"inboxes":[{"id":2117479,"name":"My
        Inbox","username":"8382a82526761f","max_size":1000,"status":"active","email_username":"730e82205d-7e378a","email_username_enabled":true,"sent_messages_count":0,"forwarded_messages_count":0,"used":true,"forward_from_email_address":"a1495731-i2117479@forward.mailtrap.info","project_id":1536451,"password":"952106364e8818","domain":"sandbox.smtp.mailtrap.io","pop3_domain":"pop3.mailtrap.io","email_domain":"inbox.mailtrap.io","smtp_ports":[25,465,587,2525],"pop3_ports":[1100,9950],"api_domain":"sandbox.api.mailtrap.io","emails_count":87,"emails_unread_count":0,"last_message_sent_at":"2025-01-03T16:37:44.583Z","max_message_size":26214400,"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}},{"id":2598195,"name":"New
        Inbox 3","username":"488ab40656a0ac","max_size":1000,"status":"active","email_username":"new-inbox-3-b9d2b9","email_username_enabled":true,"sent_messages_count":0,"forwarded_messages_count":0,"used":true,"forward_from_email_address":"a1495731-i2598195@forward.mailtrap.info","project_id":1536451,"password":"54b965b17b46a9","domain":"sandbox.smtp.mailtrap.io","pop3_domain":"pop3.mailtrap.io","email_domain":"inbox.mailtrap.io","smtp_ports":[25,465,587,2525][...]
