---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 793a32549bc04f67fcd4f800009781f2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Etag:
      - W/"0fc4e4503109da125e3484e521c0d5f1"
      X-Cloud-Trace-Context:
      - 6239a1d4fc5349e68e965aa8e2aaffd8;o=0
    body:
      encoding: ASCII-8BIT
      string: '[{"id":39572,"uuid":"ec061785-66c5-4300-bb03-17272415e06f","name":"Template
        to Delete","category":"Delete Category","subject":"Delete Subject","body_html":"<div>Delete
        HTML</div>","body_text":"Delete Text","created_at":"2025-06-16T12:34:41.056Z","updated_at":"2025-06-16T12:34:41.056Z"},{"id":39570,"uuid":"17f0e46f-239e-4bb8-9601-1ea833e1a801","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-16T12:34:40.013Z","updated_at":"2025-06-16T12:34:40.013Z"},{"id":39569,"uuid":"9cb37d93-e56c-4d41-ae40-ba6dc9d84c61","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"[...]
