---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"3483f0ce9242466d9a5e99bb0308e26d"
      X-Cloud-Trace-Context:
      - a597e23db899455e835979e6ec59c4d4;o=0
    body:
      encoding: ASCII-8BIT
      string: '[{"id":39706,"uuid":"2e132fe0-850b-4da7-9353-c325642ec4c5","name":"Template
        to Delete","category":"Delete Category","subject":"Delete Subject","body_html":"<div>Delete
        HTML</div>","body_text":"Delete Text","created_at":"2025-06-17T09:27:17.534Z","updated_at":"2025-06-17T09:27:17.534Z"},{"id":39704,"uuid":"abc9d5d9-4820-4358-bb5b-a66821137770","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-17T09:27:16.607Z","updated_at":"2025-06-17T09:27:16.607Z"},{"id":39703,"uuid":"87aa0883-d520-4978-9fde-bbc645a3f165","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"[...]
