---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '132'
      Etag:
      - W/"b500cbca28084c365780ccefac06ffed"
      X-Cloud-Trace-Context:
      - 4183cffa2a1b4d02ccf6fe88a694df49;o=0
    body:
      encoding: UTF-8
      string: '{"id":40436,"uuid":"4a1ce768-0b1f-4298-a10a-89135723d3f8","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:54.261Z","updated_at":"2025-06-23T06:54:54.261Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:54 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40436
    body:
      encoding: UTF-8
      string: '{"email_template":{"category":"New Category Only"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '131'
      Etag:
      - W/"92d2aa0d52be77dedafa97e4de753c1a"
      X-Cloud-Trace-Context:
      - 01ff0e83e2aa4823ce094855a4aecb57;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":40436,"uuid":"4a1ce768-0b1f-4298-a10a-89135723d3f8","name":"Original
        Template","category":"New Category Only","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:54.261Z","updated_at":"2025-06-23T06:54:54.491Z"}'
  recorded_at: Mon, 23 Jun 2025 06:54:54 GMT
recorded_with: VCR 6.2.0
