---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Etag:
      - W/"96549e49c2d72b94504b6cdb6e98d36b"
      X-Cloud-Trace-Context:
      - 998ab09604d74ba6c8dadebb3a730ffa;o=0
    body:
      encoding: UTF-8
      string: '{"id":45468,"uuid":"de5ca448-0256-494b-a9ac-a356c6d1b5fe","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-08-20T19:39:40.653Z","updated_at":"2025-08-20T19:39:40.653Z"}'
  recorded_at: Wed, 20 Aug 2025 19:39:40 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/email_templates/45468
    body:
      encoding: UTF-8
      string: '{"email_template":{"category":"New Category Only"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
      Etag:
      - W/"ea24fef1dec55abb5c0fa56f1a900b56"
      X-Cloud-Trace-Context:
      - 650bcd5740584f94ce33c3cc8481b18e;o=0
    body:
      encoding: UTF-8
      string: '{"id":45468,"uuid":"de5ca448-0256-494b-a9ac-a356c6d1b5fe","name":"Original
        Template","category":"New Category Only","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-08-20T19:39:40.653Z","updated_at":"2025-08-20T19:39:41.183Z"}'
  recorded_at: Wed, 20 Aug 2025 19:39:41 GMT
recorded_with: VCR 6.2.0
