---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '148'
      Etag:
      - W/"67f72cadb48b63652fc60ad28a7f1dc9"
      X-Cloud-Trace-Context:
      - c06fb8a0e59a42fc837232705787f206;o=0
    body:
      encoding: ASCII-8BIT
      string: '[{"id":40423,"uuid":"2e0f2a45-3b0b-4742-b6b6-acb371e420b8","name":"New
        Template","category":"New Category","subject":"New Subject","body_html":"<div>New
        HTML</div>","body_text":"New Text","created_at":"2025-06-23T06:54:25.377Z","updated_at":"2025-06-23T06:54:25.377Z"},{"id":40422,"uuid":"f5ac55d2-f2a8-4182-b440-055119994b0a","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-23T06:54:25.154Z","updated_at":"2025-06-23T06:54:25.154Z"},{"id":40421,"uuid":"58c27b45-03ac-49e6-85cc-48c090d1c119","name":"New
        Template","category":"New Category","subject":"New Subject","body_html":"<div>New
   [...]
