---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/email_templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"c4b615d080f6cc2f1f1fad8321b831b9"
      X-Cloud-Trace-Context:
      - 695ce0e5b4a7448ecb84ff532b9f7242;o=0
    body:
      encoding: UTF-8
      string: '[{"id":45457,"uuid":"820d4e5f-7723-42cb-91a4-6c14bd89f1a2","name":"Template
        to Delete","category":"Delete Category","subject":"Delete Subject","body_html":"<div>Delete
        HTML</div>","body_text":"Delete Text","created_at":"2025-08-20T18:52:44.513Z","updated_at":"2025-08-20T18:52:44.513Z"},{"id":45455,"uuid":"69d1f147-4ea7-4f4a-a961-afa58a892e28","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-08-20T18:52:43.611Z","updated_at":"2025-08-20T18:52:43.611Z"},{"id":45454,"uuid":"8663c8c9-b007-4138-a221-08f4f1611fb6","name":"Original
        Template","category":"Updated Category","subject":"Original Subject","body_html"[...]
