---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"061782719c613be4c8515ad03fc2fd0c"
      X-Cloud-Trace-Context:
      - b994ea6ca2a34e108b99df9a8e80a835;o=0
    body:
      encoding: ASCII-8BIT
      string: '[{"id":40187,"uuid":"1b0280f0-e6a3-4d96-bb20-72f46cf991f7","name":"New
        Template","category":"New Category","subject":"New Subject","body_html":"<div>New
        HTML</div>","body_text":"New Text","created_at":"2025-06-20T11:37:17.203Z","updated_at":"2025-06-20T11:37:17.203Z"},{"id":40186,"uuid":"e86d85c3-40dc-4c96-b4c1-78090c7da2e5","name":"New
        Template","category":"New Category","subject":"New Subject","body_html":"<div>New
        HTML</div>","body_text":"New Text","created_at":"2025-06-20T11:37:16.964Z","updated_at":"2025-06-20T11:37:16.964Z"},{"id":40185,"uuid":"4b2125f9-9a4f-4dec-ac3f-0ea98ecf4b9c","name":"New
        Template","category":"New Category","subject":"New Subject","body_html":"<div>New
        HTML</div>","body_te[...]
