---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.mailtrap.io/api/batch
    body:
      encoding: UTF-8
      string: '{"base":{"from":{"email":"mailtrap@demomailtrap.co","name":"Mailtrap"},"subject":"Batch Subject","text":"Batch Text"},"requests":[{"to":[{"email":"to@mail.com","name":"recipient1"}]},{"to":[{"email":"to@mail.com","name":"recipient2"}]}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"responses":[{"success":true,"message_ids":["17287920-571a-11f0-0040-f13664d022fb"]},{"success":true,"message_ids":["17287920-571a-11f0-0041-f13664d022fb"]}]}'
  recorded_at: Wed, 02 Jul 2025 07:56:41 GMT
recorded_with: VCR 6.2.0
