---
http_interactions:
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/suppressions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"f549768628f00ba29406ba914e08f1e4"
      X-Cloud-Trace-Context:
      - c592cc41ea204c3e89e485f1ff924281;o=0
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"af4485b5-5181-4fb5-9d41-287c78f708c1","type":"manual import","created_at":"2025-06-27T07:56:17Z","email":"asd@asd.com","sending_stream":"transactional","domain_name":"","message_bounce_category":"","message_category":"","message_client_ip":"","message_created_at":"","message_esp_response":"","message_esp_server_type":"","message_outgoing_ip":"","message_recipient_mx_name":"","message_sender_email":"","message_subject":""}]'
  recorded_at: Fri, 27 Jun 2025 07:56:23 GMT
recorded_with: VCR 6.2.0
