---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '144'
      Etag:
      - W/"e0c1d496cb425e5ac8cb0bc2a3aea23c"
      X-Cloud-Trace-Context:
      - ef2ba7e862c14c6fc588166465a1c2a7;o=0
    body:
      encoding: UTF-8
      string: '{"id":45470,"uuid":"09edc55b-7804-47b9-9804-1bc361d62840","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-08-20T19:39:42.991Z","updated_at":"2025-08-20T19:39:42.991Z"}'
  recorded_at: Wed, 20 Aug 2025 19:39:43 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/email_templates/45470
    body:
      encoding: UTF-8
      string: '{"email_template":{"body_html":"<div>New HTML Only</div>"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '143'
      Etag:
      - W/"dcdce607950ba1713b65be0983b8c6fd"
      X-Cloud-Trace-Context:
      - '0396308be5834dfd8d19fc0bfde6e806;o=0'
    body:
      encoding: UTF-8
      string: '{"id":45470,"uuid":"09edc55b-7804-47b9-9804-1bc361d62840","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>New
        HTML Only</div>","body_text":"Original Text","created_at":"2025-08-20T19:39:42.991Z","updated_at":"2025-08-20T19:39:43.542Z"}'
  recorded_at: Wed, 20 Aug 2025 19:39:43 GMT
recorded_with: VCR 6.2.0
