---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.mailtrap.io/api/batch
    body:
      encoding: UTF-8
      string: '{"base":{"from":{"email":"mailtrap@demomailtrap.co","name":"Mailtrap"},"subject":"Batch
        Subject","text":"Batch Text","headers":{},"custom_variables":{}},"requests":[{"to":[{"email":"to@mail.com","name":"recipient1"}],"cc":[],"bcc":[],"attachments":[],"headers":{},"custom_variables":{}},{"to":[{"email":"to@mail.com","name":"recipient2"}],"cc":[],"bcc":[],"attachments":[],"headers":{},"custom_variables":{}}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"responses":[{"success":true,"message_ids":["de2dede0-5597-11f0-0040-f11042f604dd"]},{"success":true,"message_ids":["de2dede0-5597-11f0-0041-f11042f604dd"]}]}'
  recorded_at: Mon, 30 Jun 2025 09:52:00 GMT
recorded_with: VCR 6.2.0
