---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.mailtrap.io/api/batch
    body:
      encoding: UTF-8
      string: '{"base":{"text":"Batch Text"},"requests":[{"to":[{"email":"to@mail.com","name":"recipient1"}]},{"to":[{"email":"to@mail.com","name":"recipient2"}]}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"responses":[{"success":false,"errors":["''from'' is
        required","''subject'' is required"]},{"success":false,"errors":["''from''
        is required","''subject'' is required"]}]}'
  recorded_at: Wed, 02 Jul 2025 07:54:58 GMT
recorded_with: VCR 6.2.0
