---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.mailtrap.io/api/batch
    body:
      encoding: UTF-8
      string: '{"base":{"text":"Batch Text","headers":{},"custom_variables":{}},"requests":[{"to":[{"email":"to@mail.com","name":"recipient1"}],"cc":[],"bcc":[],"attachments":[],"headers":{},"custom_variables":{}},{"to":[{"email":"to@mail.com","name":"recipient2"}],"cc":[],"bcc":[],"attachments":[],"headers":{},"custom_variables":{}}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"responses":[{"success":false,"errors":["''from'' is
        required","''subject'' is required"]},{"success":false,"errors":["''from''
        is required","''subject'' is required"]}]}'
  recorded_at: Mon, 30 Jun 2025 09:52:02 GMT
recorded_with: VCR 6.2.0
