---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/projects
    body:
      encoding: UTF-8
      string: '{"project":{"name":"Test Project"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '128'
      Etag:
      - W/"e89b2eeb1bac0e0011505117e024bac7"
      X-Cloud-Trace-Context:
      - 93973da93a10427f81fd9c4ad0f17650;o=0
    body:
      encoding: UTF-8
      string: '{"id":2487011,"name":"Test Project","share_links":{"admin":"https://mailtrap.io/projects/2487011/share/REDACTED","viewer":"https://mailtrap.io/projects/2487011/share/REDACTED"},"inboxes":[],"permissions":{"can_read":true,"can_update":true,"can_destroy":true,"can_leave":false}}'
  recorded_at: Wed, 20 Aug 2025 19:39:49 GMT
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/projects/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      X-Cloud-Trace-Context:
      - 90f0d433ef4d4023c7a12474f2d58a6a;o=0
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Wed, 20 Aug 2025 19:39:50 GMT
recorded_with: VCR 6.2.0
