---
http_interactions:
- request:
    method: post
    uri: https://send.api.mailtrap.io/api/send
    body:
      encoding: UTF-8
      string: '{"from":{"email":"mailtrap@mailtrap.io","name":"Mailtrap Test"},"to":[{"email":"mailtrap@railsware.com"}],"cc":[],"bcc":[],"attachments":[{"content":"aGVsbG8gd29ybGQ=","filename":"attachment.txt"}],"headers":{},"custom_variables":{},"category":"Integration Test"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":["''subject'' is required","must specify either text or html
        body"]}'
  recorded_at: Wed, 08 Jun 2022 15:32:35 GMT
recorded_with: VCR 6.1.0
