---
http_interactions:
- request:
    method: post
    uri: https://sandbox.api.mailtrap.io:443/api/send/12
    body:
      encoding: UTF-8
      string: '{"from":{"email":"mailtrap@mailtrap.io","name":"Mailtrap Test"},"to":[{"email":"mailtrap@railsware.com"}],"subject":"You are awesome!","text":"Congrats for sending test email with Mailtrap!","attachments":[{"content":"aGVsbG8gd29ybGQ=","filename":"attachment.txt"}],"category":"Integration Test"}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Thu, 13 Oct 2022 22:08:10 GMT
recorded_with: VCR 6.1.0
