---
http_interactions:
- request:
    method: post
    uri: https://alternative.host.mailtrap.io:8080/api/send
    body:
      encoding: UTF-8
      string: '{"to":[{"email":"mailtrap@railsware.com"}],"from":{"email":"mailtrap@mailtrap.io","name":"Mailtrap
        Test"},"cc":[],"bcc":[],"subject":"You are awesome!","text":"Congrats for
        sending test email with Mailtrap!","attachments":[{"content":"aGVsbG8gd29ybGQ=","filename":"attachment.txt"}],"headers":{},"category":"Integration
        Test","custom_variables":{}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"message_ids":["867394cd-4b43-11ed-af38-0a58a9feac02"]}'
  recorded_at: Thu, 13 Oct 2022 22:08:10 GMT
recorded_with: VCR 6.1.0
