---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Template to Delete","category":"Delete Category","subject":"Delete
        Subject","body_text":"Delete Text","body_html":"<div>Delete HTML</div>"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '131'
      Etag:
      - W/"57f8b017e7f77fd676748b8b0ed2e43d"
      X-Cloud-Trace-Context:
      - 0364275c44684395c9024b280e2235f2;o=0
    body:
      encoding: UTF-8
      string: '{"id":40148,"uuid":"523a810d-8b3b-49dc-84d8-fdc4838e8cf5","name":"Template
        to Delete","category":"Delete Category","subject":"Delete Subject","body_html":"<div>Delete
        HTML</div>","body_text":"Delete Text","created_at":"2025-06-20T07:40:45.952Z","updated_at":"2025-06-20T07:40:45.952Z"}'
  recorded_at: Fri, 20 Jun 2025 07:40:46 GMT
- request:
    method: delete
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/999999
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '130'
      X-Cloud-Trace-Context:
      - d65ec1e23c2c471d89cb7b91b82a7693;o=0
    body:
      encoding: UTF-8
      string: '{"error":"Not Found"}'
  recorded_at: Fri, 20 Jun 2025 07:40:46 GMT
recorded_with: VCR 6.2.0
