---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '139'
      Etag:
      - W/"38844b731d338a51d1c10700a741484a"
      X-Cloud-Trace-Context:
      - a2c363c2de1e427fc2b3fcf1ebf504fa;o=0
    body:
      encoding: UTF-8
      string: '{"id":45467,"uuid":"0f8250b6-5db7-40fd-a1d4-1a4154c359a1","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-08-20T19:39:39.884Z","updated_at":"2025-08-20T19:39:39.884Z"}'
  recorded_at: Wed, 20 Aug 2025 19:39:39 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/ACCOUNT_ID/email_templates/45467
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      Etag:
      - W/"dcf90faa0a2a0b1d5207d8e887cf5a3f"
      X-Cloud-Trace-Context:
      - 04db0a2cabeb4a8c8ef8418047d94730;o=0
    body:
      encoding: UTF-8
      string: '{"id":45467,"uuid":"0f8250b6-5db7-40fd-a1d4-1a4154c359a1","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-08-20T19:39:39.884Z","updated_at":"2025-08-20T19:39:40.103Z"}'
  recorded_at: Wed, 20 Aug 2025 19:39:40 GMT
recorded_with: VCR 6.2.0
