---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Original Template","subject":"Original Subject","category":"Original
        Category","body_html":"<div>Original HTML</div>","body_text":"Original Text"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '132'
      Etag:
      - W/"e684a44106bc54c203c48e1f3874bd22"
      X-Cloud-Trace-Context:
      - e187ed0a13414ccf8492880cee164192;o=0
    body:
      encoding: UTF-8
      string: '{"id":40197,"uuid":"6cb39e8e-c61e-4844-892a-16aceabbdf02","name":"Original
        Template","category":"Original Category","subject":"Original Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-20T11:37:29.191Z","updated_at":"2025-06-20T11:37:29.191Z"}'
  recorded_at: Fri, 20 Jun 2025 11:37:29 GMT
- request:
    method: patch
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/40197
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Updated Template","subject":"Updated Subject","category":"Updated
        Category"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '131'
      Etag:
      - W/"ce5de986e7135de6c14148bbb027edc7"
      X-Cloud-Trace-Context:
      - d402475de7204d21889867d446a9c0ee;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":40197,"uuid":"6cb39e8e-c61e-4844-892a-16aceabbdf02","name":"Updated
        Template","category":"Updated Category","subject":"Updated Subject","body_html":"<div>Original
        HTML</div>","body_text":"Original Text","created_at":"2025-06-20T11:37:29.191Z","updated_at":"2025-06-20T11:37:29.439Z"}'
  recorded_at: Fri, 20 Jun 2025 11:37:29 GMT
recorded_with: VCR 6.2.0
