---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Test Template","subject":"Test Subject","category":"Test
        Category","body_html":"<div>Test HTML</div>","body_text":"Test Text"}}'
    headers:
      Authorization:
      - Bearer 793a32549bc04f67fcd4f800009781f2
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
      Etag:
      - W/"baf9b187c252649952b99443ed6bd869"
      X-Cloud-Trace-Context:
      - 809de19bf33c411dc1d6347fa1ff171c;o=0
    body:
      encoding: UTF-8
      string: '{"id":39573,"uuid":"a2fdc1d5-e89b-4bfe-a777-78c347ea48cc","name":"Test
        Template","category":"Test Category","subject":"Test Subject","body_html":"<div>Test
        HTML</div>","body_text":"Test Text","created_at":"2025-06-16T12:40:59.213Z","updated_at":"2025-06-16T12:40:59.213Z"}'
  recorded_at: Mon, 16 Jun 2025 12:40:59 GMT
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/39573
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 793a32549bc04f67fcd4f800009781f2
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '146'
      Etag:
      - W/"baf9b187c252649952b99443ed6bd869"
      X-Cloud-Trace-Context:
      - 6e13df94913f4461cdfc147525ee991e;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":39573,"uuid":"a2fdc1d5-e89b-4bfe-a777-78c347ea48cc","name":"Test
        Template","category":"Test Category","subject":"Test Subject","body_html":"<div>Test
        HTML</div>","body_text":"Test Text","created_at":"2025-06-16T12:40:59.213Z","updated_at":"2025-06-16T12:40:59.213Z"}'
  recorded_at: Mon, 16 Jun 2025 12:40:59 GMT
recorded_with: VCR 6.2.0
