---
http_interactions:
- request:
    method: post
    uri: https://mailtrap.io/api/accounts/1111111/email_templates
    body:
      encoding: UTF-8
      string: '{"email_template":{"name":"Test Template","category":"Test Category","subject":"Test
        Subject","body_text":"Test Text","body_html":"<div>Test HTML</div>"}}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '147'
      Etag:
      - W/"85b7c8634288dde9ec6e1af6d116f704"
      X-Cloud-Trace-Context:
      - 3186f2286c4e4163c6dfbffe684918a1;o=0
    body:
      encoding: UTF-8
      string: '{"id":39707,"uuid":"099939c2-4946-4b54-aef0-fee581da5338","name":"Test
        Template","category":"Test Category","subject":"Test Subject","body_html":"<div>Test
        HTML</div>","body_text":"Test Text","created_at":"2025-06-17T09:28:06.400Z","updated_at":"2025-06-17T09:28:06.400Z"}'
  recorded_at: Tue, 17 Jun 2025 09:28:06 GMT
- request:
    method: get
    uri: https://mailtrap.io/api/accounts/1111111/email_templates/39707
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Mailtrap-Version:
      - v2
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '146'
      Etag:
      - W/"85b7c8634288dde9ec6e1af6d116f704"
      X-Cloud-Trace-Context:
      - 2a5d58187de44111852596988c354d1e;o=0
    body:
      encoding: ASCII-8BIT
      string: '{"id":39707,"uuid":"099939c2-4946-4b54-aef0-fee581da5338","name":"Test
        Template","category":"Test Category","subject":"Test Subject","body_html":"<div>Test
        HTML</div>","body_text":"Test Text","created_at":"2025-06-17T09:28:06.400Z","updated_at":"2025-06-17T09:28:06.400Z"}'
  recorded_at: Tue, 17 Jun 2025 09:28:06 GMT
recorded_with: VCR 6.2.0
