---
http_interactions:
- request:
    method: post
    uri: https://bulk.api.mailtrap.io/api/batch
    body:
      encoding: UTF-8
      string: '{"base":{"from":{"email":"mailtrap@demomailtrap.co","name":"Mailtrap"},"attachments":[],"headers":{},"custom_variables":{},"template_uuid":"be5ed4dd-b374-4856-928d-f0957304123d","template_variables":{"company_name":"Mailtrap"}},"requests":[{"to":[{"email":"to@mail.com","name":"recipient1"}],"cc":[],"bcc":[],"attachments":[],"headers":{},"custom_variables":{}},{"to":[{"email":"to@mail.com","name":"recipient2"}],"cc":[],"bcc":[],"attachments":[],"headers":{},"custom_variables":{}}]}'
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"responses":[{"success":true,"message_ids":["19922620-571a-11f0-0040-f13664d022fb"]},{"success":true,"message_ids":["19922620-571a-11f0-0041-f13664d022fb"]}]}'
  recorded_at: Wed, 02 Jul 2025 07:56:45 GMT
recorded_with: VCR 6.2.0
